<!DOCTYPE html>
<html>

<head>

 <meta charset='utf-8'>
 <meta http-equiv='X-UA-Compatible' content='IE=edge'>
 <title>Resposta</title>
 <meta name='viewport' content='width=device-width, initial-scale=1'>
 <link rel='stylesheet' type='text/css' media='screen'>
</head>

<body>
 <div class="base">
  <div class="center">
   <h2>Analise Soma</h2>

   <p> A soma das casracteres é : {{sum_character}}</p>
   <p> A soma das casracteres sem espaço é :{{character_sem_espaco}}</p>
   <p> A soma das palavras é :{{sum_palavras}}</p>
   <h2>Top 10 aparições caracteres</h2>
     <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Caracteres</th>
                    <th>Vezes que aparece</th>

                </tr>
            </thead>
            <tbody>
            {% for c in fequencia %}
                <tr>
                    <td>{{c.caracteres}}</td>
                    <td>{{c.vezes_que_aparece}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </tbody>

      <h2>Top 5 proporções  caracteres</h2>
     <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Caracteres</th>
                    <th>Proporção</th>

                </tr>
            </thead>
            <tbody>
            {% for c in proporcao %}
                <tr>
                    <td>{{c.caractere}}</td>
                    <td>{{'{:.2f}%'.format(c.proporcao)}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </tbody>

<h2>Top 10 aparições palavras</h2>
     <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Palavra</th>
                    <th>Vezes que aparece</th>

                </tr>
            </thead>
            <tbody>
            {% for c in analise_palavra %}
                <tr>
                    <td>{{c.palavra}}</td>
                    <td>{{c.vezes_que_palavra_aparece}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </tbody>

      <h2>Top 5 proporções  palavras</h2>
     <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Palavra</th>
                    <th>Proporção</th>

                </tr>
            </thead>
            <tbody>
            {% for c in proporcao_palavra %}
                <tr>
                    <td>{{c.palavra}}</td>
                    <td>{{'{:.2f}%'.format(c.proporcao)}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </tbody>


  </div>
 </div>

</body>


</html>